<header>
  <div class="container">
    <h1>Source Name</h1>
    <div class="row">
      <div class="col">
        <form>
          <select>
            <option value="books">Books</option>
            <option value="html">HTML</option>
            <option value="css">CSS</option>
            <option value="php">PHP</option>
            <option value="js">JavaScript</option>
          </select>
        </form>
      </div>
      <div class="col">
        <form>
          <input type="text"/>
          <button type="button" class="btn btn-light">filter</button>
        </form>
      </div>
      <div class="col">
        <button type="button" class="btn btn-light">Add article</button>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="card container" style="width: 60rem;">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../assets/images/download.jpeg" alt="Card image cap">
      </div>
      <div class="col-lg-8">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
  </div>
</main>
