* {
    vertical-align: baseline;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

body {
    width: 900px;
    margin: 0 auto;
    font-family: Open Sans, sans-serif;
    overflow: scroll;
}

header {
    background-color: #F3F3F3;
}

.xxx {
    background: url("../img/sample2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    width: 100%;
    color: white;
    background-color: black;
}

.xxx-black {
    display: flex;
    justify-content: flex-end;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background-color: black;
    color: white;
}

.xxx-black p {
    width: 50%;
    font-size: 0.6em;
    padding-bottom: 80px;
}


.xxx-white {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
    font-size: 0.8em;
}

.xxx-white p {
    width: 30%;
    position: absolute;
    top: -72px;
    font-size: 0.9em;
}

.h-top-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.h-top-heading p {
    margin-left: 30px;
}


.h-login button {
    background-color: unset;
    color: white;
    margin: 0 20px;
}

.h-title {
    text-align: center;
    margin-top: 140px;
}

.h-title h1 {
    font-size: 2em;
    font-weight: normal;
}

.h-title h1 span {
    font-size: 1.5em;
}

header nav {
    padding: 65px 0px;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

.nav-list {
    list-style: none;
    border: 1px solid white;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
}

main {
    width: 900px;
    background-color: #F3F3F3;
}
main h2 {
    text-align: center;

}

.m-description {
    text-align: center;
    margin: 35px 35px;
}

.m-description section {
    margin-top: ;
}

.m-descr-pic {
    position: relative;
}

.m-description section {
    display: flex;
    align-items: center;
}

.description-img {
    width: 400px;
    z-index: -1;
}

.description-likes {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFFFFF;
    background-color: rgba(0,0,0,.5);
    font-size: small;
    border: 2px solid white;
    padding: 2px 5px;
}

.description-date {
    position: absolute;
    bottom: 25px;
    left: 20px;
    color: white;
    font-size: small;
}

.m-descr-pic-left{
    float: left;
}

.m-descr-pic-right{
    order: 99;
}


.m-description p {
    font-size: 0.7em;
    margin: 35px 35px;
}

.m-galary {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.m-galary section{
    position: relative;
}

.m-galary img {
    width: 165px;
    object-fit: cover;
    height: 220px;
    padding: 36px 0;
    object-position: 0% 50%;
}

.galary-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    height: 220px;
    width: 168px;
    top: 34px;
}

.galary-likes {
    background-color: rgba(0,0,0,.5);
    font-size: small;
    border: 2px solid white;
    color: white;
    align-self: flex-end;
    padding: 3px 5px;
    margin: 10px 14px 0 0;
}

.explore {
    background-color: #097774cc;
    color: white;
    width: 148px;
    height: 24px;
    font-size: small;
}

.galary-date {
    align-self: flex-start;
    color: white;
    font-size: small;
    margin: 0 0 10px 10px;
}

.m-load-news {
    padding-bottom: 36px;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: smaller;
}
.m-load-news-b {
    background-color: #097774;
    color: white;
    width: 225px;
    height: 36px;
}

.f-wrapper {
    background-color: #F3F3F3;
}
.f-summary {
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}

.f-summary p {
    font-size: small;
}

.f-subscription {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.f-subscription form {
    font-size: small;
}

.f-subscription form input {
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 5px;
}

.f-subscription form button {
    background-color: #097774;
    color: white;
    width: 88px;
    height: 28px;
}

.f-subscription h2 {
    margin-right: 20px;
    font-size: larger;
}

.f-footing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-footing span {
    color: #E8E8E8
}

.f-navigation ul{
    display: flex;
    justify-content: flex-end;
}

.f-navigation li {
    list-style: none;
    padding: 10px 10px;
}

.f-navigation a {
    text-decoration: none;
    color: black;
}