/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #162b4d;
  --link: #fff;
  --link--hover: #b8b8b8;
  --bg-footer-color: #162b4d;
}

body {
  font-family: roboto;
}
.post-1 {
	background: #B71757;
}
.post-2 {
	background: #0D7E71;
}
.post-3 {
	background: #b1660e;
}
.post-4 {
	background: #d12767;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */

/* General Styles */
body {
    background-color: var(--bg-color--dark);
    color: white;
}
header {
    background-color: var(--bg-color--header);
    color: white;
}
header h1 {
    font-weight: 100;
    letter-spacing: 0.1px;
}
header h1 span {
    color: #B71757;
}

.h-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    display: inline-block;
}
nav a {
    text-decoration: none;
    font-weight: 100;
    color: white;
}

article {
    display: flex;
}

footer {
    background-color: var(--bg-footer-color);
}


/* Media */
@media screen and (min-width: 768px) and (max-width: 1400px) {
    main {
        display: grid;
        grid-column: 60% 30%;
        grid-column-gap: 10%;
    }
    article {
        display:
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    body {

    }
}

@media screen and (max-width: 480px) {

}


