
body {
  min-width: 900px;
}
header {
  background-image: url("../img/sample2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 800px;

  .h-top-heading {
    display: flex;
    justify-content: space-between;
  }

  .h-title {
    text-align: center;
  }

  h1 {
    font-size: 4em;
    font-weight: normal;
  }
}
