$color-background: #262626;
$color-background-site: #191A23;
$color-button: #DB9D08;
$color-card: #2D2F3E;
$color-card-text: #9b9bab;
$color-footer: #2D2F3E;
$color-footer-text: #ADAFC2;
$color-banner-text: #B3B293;
$color-banner-heading: white;
$background-image-header: url(../img/m-h-night.jpg)