$color-background: #262626;
$color-background-site: white;
$color-button: #578b02;
$color-card: #21232E;
$color-card-text: #9b9bab;
$color-footer: #21232E;
$color-footer-text: #ADAFC2;
$color-banner-text: #B3B293;
$color-banner-heading: #21232E;
$background-image-header: url(../img/m-h-day.jpg); 