<header class="container-fluid">
  <h1>{{this.newsItem.source}}</h1>
</header>
<main>
  <div class="card container" style="width: 60rem;">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../../assets/images/download.png" alt="Card image cap">
      </div>
      <div class="col-lg-8">
        <h5 class="card-title">{{newsItem.title}}</h5>
        <p class="card-text">{{newsItem.content}}</p>
        <time datetime="2015-05-15 19:00">{{newsItem.date}}</time>
        <p>{{newsItem.source}}</p>
      </div>
    </div>
  </div>

</main>
