/*

write your code here

*/

/* Task 2 */
.tm-section-title-box:hover {
	color: white;
	font-weight: bold;
	background-color: lightskyblue;
}

/* Task 8 */
.tm-nav-item-link:hover {
	background-color: #eee;
}